
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.woff2') format('woff2'),
    url('fonts/Roboto.woff') format('woff'),
    url('fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'rouble';

    src: url("fonts/RUBSN.otf");
    font-weight: normal;
    font-style: normal;
}
/*url('fonts/RUBSN.otf') format('truetype');*/



html,
body {
    font-family: 'Roboto';
    width: 100%;
    margin: 0;
    padding: 0;
}
.rub {
    font-family: 'rouble';
}
.container {
    overflow-x: hidden;
    position: relative;
    max-width: 750px;
    /*min-width: 640px;*/
    /*max-height: 1800px;*/
    height:100vh;
    margin-left: auto;
    margin-right: auto;
}
.page0{

    text-align: center;
    /*background: url(./img/back.png) 59% -35% no-repeat;*/
    /*background-size: cover;*/
    background: white;
    width: 100%;
    height: 100%;

}
.page0-main-block {
    position: absolute;
    background: url("./img/back.png") 64% -53% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#333333;
}
.page0-blocked {
    font-size:20px;
    color: #999999;
    margin-top: 2.8%;
}
.blocked-text1 {
    margin-top: 3%;
}


.page0-main-block-Title{
    font-size: 66px;
    font-weight:bold;
}
.blocked-text1-str0 {
    padding: 0 20px;
}
.page0-main-block-content {
    font-size: 34px;
    margin-top: 4%;
}
.page0-main-block-btn {
    margin-top: 5.8%;
    background: #00985f;
    color: white;
    font-size: 31px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right:auto;
    /*margin-bottom: 73.7%;*/
}
.page0-main-block-btn-text {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
}

.page1 {
    /*display: none;*/
    background: white;
    position: absolute;
    text-align: center;
    padding-top: 7%;
    width: 100%;
    height: 100%;
    top:0;
    opacity: 1;

    /*transition: transform ease-out .5s;*/



}
.opacity {
    transition-duration: 5s;
 transition-property: opacity;
 opacity: 0;

}
.mleft{
    margin-left: 100%;
}

.move-left{
    transition-duration: 0.7s;
    transition-timing-function: linear;
    margin-left: 0%;
    transition-property: margin-left;
}

.z-index {
    opacity: 0;
    z-index: -1;
    /*transform: scale(0);*/
    /*-moz-transform: scale(0);*/
    /*-o-transform: scale(0);*/
    /*-webkit-transform: scale(0);*/

}
.page1-title {
    font-size: 34px;
    color:#00985f;
}

.page1-title-text {
    padding:0 20px;
}

.page1-block-btn {
    margin-top: 5.8%;
    background: #00985f;
    color: white;
    font-size: 31px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right:auto;
}

.page1-block-btn-text {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
}

.icons {
    margin-top: 10%;
    font-size: 34px;
    color: #333333;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



.left-phone{
    background: url("./img/phone.svg") no-repeat;
    width: 6vw;
    height: 70px;
    max-height: 109px;
    background-size: contain;
    position: absolute;
}
.left-cleaning{
    background: url("./img/cleaning.svg")no-repeat;
    width: 10vw;
    height: 70px;
    background-size: contain;
    position: absolute;
    margin-left: 8% !important;
}

.left-promo {
    background: url("./img/promocode.svg")no-repeat;
    width: 10vw;
    height: 70px;
    max-height: 109px;
    background-size: contain;
    position: absolute;
}

.left-cash {
    background: url("./img/cashback.svg")no-repeat;;
    width: 10vw;
    height: 70px;
    background-size: contain;
    position: absolute;
    /*margin-left: 8% !important;*/
}

div[class^="left"] {

    float: left;
    margin-left: 10%;

}
div[class^="right"] {
    text-align:left;
    margin-left: 32%;
    margin-bottom: 13%;
}

.screanshot {
    font-size: 24px;
    color: #00985f;
    margin-top: 6%;

}
.pay {
    font-size: 24px;
    color: #999999;
    margin-top: 4.5%;
    margin-bottom: 5.5%;
}

a {
   text-decoration: none;
    color:white;
}

@media all and  (max-width:1024px) {
.page0-main-block-Title{
  font-size: 45px;
}
.page0-main-block-content{
    font-size: 27px;
}
.page0-blocked{
  font-size: 16px;
}




}

@media all and  (max-width:700px) {
.page0-main-block-Title{
      font-size: 30px;
}
  .page0-main-block-content{
  font-size: 20px;
}
  .page0-blocked{
    font-size: 11px;
}

  .page1-title {
    font-size: 23px;
}
  .icons {
    font-size: 20px;
  }
  .pay {
    font-size: 17px;
  }
  .screanshot {
    font-size: 19px;
  }
}

@media all and  (max-width:500px) {
    .page0-main-block-Title {
        font-size: 30px;
    }

    .page0-main-block-content {
        font-size: 20px;
    }

    .page0-blocked {
        font-size: 11px;
    }

    .page1-title {
        font-size: 20px;
    }

    .icons {
        font-size: 20px;
        margin: 10%;
    }

    .pay {
        font-size: 15px;
    }

    .screanshot {
        font-size: 15px;
    }

    .page0-main-block-btn-text {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
}
@media all and  (max-width:320px) {
    .page0-main-block-Title {
        font-size: 30px;
    }

    .page0-main-block-content {
        font-size: 20px;
    }

    .page0-blocked {
        font-size: 11px;
    }

    .page1-title {
        font-size: 15px;
    }

    .icons {
        margin: 0;
        font-size: 20px;
    }

    .pay {
        font-size: 10px;
    }

    .screanshot {
        font-size: 10px;
    }

    .page1-block-btn {

        font-size: 21px;

    }

    .page1-block-btn-text {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .page0-main-block-btn-text {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

}
@media all and  (max-width:450px) {
    .page0-main-block-Title{
        font-size: 9.8px;
    }

    .page0-main-block-Title {
        font-size: 22px;
    }

    .page0-main-block-content {
        font-size: 13px;
    }
    .page0-main-block-btn {
    font-size: 21px;
    }
}
@media all and  (min-width:1000px) {

    .page0-main-block {
        position: absolute;
        background: url("./img/back.png") 64% -158% no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #333333;

    }
}

